.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    padding: 10svh;
    gap: 5svh;
    font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}

.main {
}

a.primary {
    background: var(--foreground);
    color: var(--background);
    gap: 8px;
}

a.secondary {
    border-color: var(--gray-alpha-200);
    min-width: 180px;
}

/* ====== Card ====== */

.card {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2svh;

    box-shadow: 0 20px 25px -5px rgb(255 255 255 / 0.2);
}

.card:hover {
    outline: 1px solid red;
    outline-offset: 20px;
}

.card_title {
    color: black;
    text-transform: uppercase;
    max-width: 10ch;
    text-align: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
    }

    a.secondary:hover {
    }

    .footer a:hover {
    }
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
